/* Animation de pulsation lente et fluide */
@keyframes flicker {
  0%, 100% { 
    opacity: 1; 
  }
  50% { 
    opacity: 0.2; 
  }
}

.animate-flicker {
  /* On passe à 6 secondes (plus lent) et on force le 'linear' */
  animation: flicker 3s linear infinite;
}